

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  height: 100dvh;
  height: 100dvh;
  background: linear-gradient(to bottom right, #616368 55%, #333 100%);
  background-attachment: fixed;
  margin: 0;
  color: white;
}

main {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70dvh;
  max-width: 100dvh;
}

video, img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

figcaption {
  background: #333;
  color: white;
  padding: 3px;
  align-self: stretch;
}

#downloadContainer {
  display: flex;
  gap: 5px;
  justify-content: center;
}

footer {
  justify-self: flex-end;
  align-self: flex-end;
  margin: 0;
}

footer p {
  margin: 5px;
  color: rgba(255,255,255,0.1);
}

button {
  border: 1px solid white;
  background: transparent;
  color: white;
  padding: 5px 15px;
  border-radius: 3px;
  font-size: 15px;
  text-transform: capitalize;
}